// Specific CSS for your home-page

.white-background {
  background-color:white;
  opacity: 0.9;
}

.text {
  margin-top: -5px;
  font-size: 0.8em;
  font-weight: 100;
  color: darken($dark, 10%);
  letter-spacing: 1px;
}