// Specific CSS for your landing-page

.banner {
  background-image: asset-url('pickachu_bg.jpg');
  height: 100vh;
  background-position: bottom;
  background-size: cover;
  display: flex;
  overflow: none;
}

.content {

  padding: 20px;
  margin-top: 40px;

  .pokemon-logo {
  height: 25vh;
  width: 60vh;
  margin: 2em;
  }

  .italic {
    color: white;
    text-align: center;
    font-size: 3em;
    font-style: italic;
    opacity: 0.8;
  }
}

.disclaimer {
  bottom: 0;
  width: 900px;
  font-size: 1.5em;
  text-transform: none;
  position: relative;
  right: -50%;
}

.disclaimer p {
  margin-top: -5px;
  font-size: 0.5em;
  font-weight: 100;
  color: darken($dark, 10%);
  letter-spacing: 1px;
}

