// .row {
//   margin: 0 auto;
// }

// .back {
//   display: flex;
// }

.go {
  // height: 2.5em;
  width: 4em;
  // float: left;
}

// .stats {
//   width: 150px;
//   text-align: right;
// }

.cat {
  width: 200px;
  text-align: left;
}

h1 {
  font-size: 75px;
}

.hero-info {
  display: flex;
  flex-direction: column;
}

.hero-info h2 {
  color: grey;
  // text-align: left;
  // margin-left: 2em;
}

.hero-info ul {
  list-style: none;
}

.hero-info ul li {
  color: #808181;
  margin-bottom: 15px;
  font-size: 20px;
}

.hero-info ul li span {
  color: #40424a;
  display: inline-block;
  min-width: 220px;
}


.hero-image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  background-size: contain;
  margin: 0 auto;
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
}

.btn .addition {
  padding-left: 2em;
  padding-right: 2em;
}

.addition {
  margin-top: 1em;
  margin-right: 1em;
}

// .descriptive {
//   margin: 25px 0;
//   padding: 50px;
//   font-size: 20px;
// }
