<div class="banner">

  <div class="container center-it">

    <div class="content">
      <%= image_tag "pokemon_logo.png", alt: "alttext", class: "pokemon-logo"%>
      <p class="italic">Are you ready to catch 'em all?</p>
    </div>

    <div class="button-container d-flex justify-content-center">
      <%# path = current_user ? user_path(current_user) : new_user_session_path %>
      <%= link_to "Absolutely!", home_path, class: "cus-btn btn-1"  %>
    </div>

    <div style="position: absolute; right: 50%; bottom: 0;">
      <div class="disclaimer">
        <p>DISCLAIMER: I hereby declare that I do not own the rights to these images and data. All rights belong to the owner. No Copyright Infringement Intended. This is a fan made website for other Pokemon lovers.</p>
      </div>
    </div>

  </div>

</div>

